@font-face {
	font-family: Centra;
	src: url('../fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('../fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('../fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
html {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  scroll-snap-type: y mandatory;
}

body {
  color: #fff !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
p {
  color: #8A94A7;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}
#home {
  background: linear-gradient(15deg, rgba(29,32,38,1) 15%, rgba(2,112,215,1) 88%, rgba(0,191,251,1) 100%) fixed !important;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.home-content {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%)
  
}
.navbar {
  border-bottom: 0.4px solid #15181D;
  /* border-bottom-color: linear-gradient(15deg, rgba(29,32,38,1) 15%, rgba(2,112,215,1) 88%, rgba(0,191,251,1) 100%) !important; */
}
.nav-link  {
  color: #fff;
}

#skills {
  position: inherit;
  height: 100vh;
  width: 100%;
  margin-top: -30px;
  background: #1d1e26;
  border-radius: 30px 30px 0 0;
  text-align: center;
}

.slide-content {
  padding: 45px 0px;
  margin: 0 40px;
  overflow: hidden;
}

.swiper{
  width: 750px;
}
.swiper-navBtn {
  color: #0270D7;
  transition: color 0.4s ease;
}
.swiper-navBtn:hover {
  color: #00BFFB;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}
.swiper-pagination-bullet{
  background-color: #00BFFB;
}

.skill-cards .card {
  place-items: center;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 1em;
  background: linear-gradient(50deg, #243b5e, #2c4646);
}

.skill-cards .card::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 25px;
  top: 0;
  right: 35px;
  transition: 2.0s;
  background: linear-gradient(50deg, #02b3ff, #00ff59);
  transform: rotate(-45deg) translate(0, -100px);
} 

.skill-cards .card .content-card {
  width: 197px;
  height: 292px;
  background: #15181D;
  border-radius: .8em;
  z-index: 1;
  color: #858585;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.skill-cards .card .content-car:hover {
  color: white;
}
.skill-cards .card:hover::before {
  animation: effect 1.9s;
}

@keyframes effect {
  100% {
    transform: rotate(-45deg) translate(0, 450px);
  }
}

.card-logo {
  padding: 15px;
  margin: 0;
  background: linear-gradient(0deg, rgba(29,32,38,1) 15%, rgb(0, 79, 152) 88%, rgba(2,112,215,1) 100%) fixed !important;
  /* background-color: rgb(157, 157, 157); */
  border-bottom: #243b5e solid 0.4px;
  /* -webkit-box-shadow: 0px 5px 30px 0px rgba(0,118,168,1);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,118,168,1);
  box-shadow: 0px 5px 30px 0px rgba(0,118,168,1); */
  /* background-color: red; */
}
.card-body {
  margin: 0;
  padding: 0;
}

#projects {
  position: inherit;
  height: 100vh;
  width: 100%;
  margin-top: -30px;
  background: #1d1e26;
  border-radius: 30px 30px 0 0;
  text-align: center;
}
