@font-face {
	font-family: Centra;
	src: url('../fonts/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('../fonts/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('../fonts/CentraNo2-Book.ttf');
	font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
html {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  scroll-snap-type: y mandatory;
}

body {
  color: #fff !important;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
p {
  color: #8A94A7;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}
#home {
  background: linear-gradient(15deg, rgba(29,32,38,1) 15%, rgba(2,112,215,1) 88%, rgba(0,191,251,1) 100%) fixed !important;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.home-content {
  width: 100%;
  position: fixed;
  left: 50%;
  transform: translateX(-50%)
  
}
.text-typing{

}
.first-text {

}
.sec-text {
  color: #00BFFB;
}
#img-personage {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.navbar {
  border-bottom: 0.4px solid #15181D;
  /* border-bottom-color: linear-gradient(15deg, rgba(29,32,38,1) 15%, rgba(2,112,215,1) 88%, rgba(0,191,251,1) 100%) !important; */
}
.nav-link  {
  color: #fff;
}


#skills {
  background: #1d2026;
  /* position: inherit;
  height: 100%;
  width: 100%;
  margin-top: -30px;
  text-align: center; */
  padding: 0 0 50px 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-skills {
  background: #151515;
  border-radius: 70px;
  text-align: center;
  padding: 30px 50px;
  margin-top: -50px;
  width: 90%;
  height: 100%;
}

.slide-content {
  padding: 45px 0px;
  margin: 0 40px;
  overflow: hidden;
}

.swiper{
  width: 750px;
}
.swiper-navBtn {
  color: #0270D7;
  transition: color 0.4s ease;
}
.swiper-navBtn:hover {
  color: #00BFFB;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 40px;
}
.swiper-pagination-bullet{
  background-color: #00BFFB;
}

.skill-cards .card {
  place-items: center;
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 1em;
  background: linear-gradient(50deg, #243b5e, #2c4646);
  transition: all .3s ;
}

.skill-cards .card::before {
  content: "";
  position: absolute;
  width: 450px;
  height: 25px;
  top: 0;
  right: 35px;
  transition: 2.0s;
  background: linear-gradient(50deg, #02b3ff, #00ff59);
  transform: rotate(-45deg) translate(0, -100px);
} 

.skill-cards .card .content-card {
  width: 197px;
  height: 292px;
  background: #15181D;
  border-radius: .8em;
  z-index: 1;
  color: #858585;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}

.skill-cards .card .content-car:hover {
  color: white;
}
.skill-cards .card:hover::before {
  animation: effect 1.9s;
}

@keyframes effect {
  100% {
    transform: rotate(-45deg) translate(0, 450px);
  }
}

.card-logo {
  padding: 15px;
  margin: 0;
  background: linear-gradient(0deg, rgba(29,32,38,1) 15%, rgb(0, 79, 152) 88%, rgba(2,112,215,1) 100%) fixed !important;
  /* background-color: rgb(157, 157, 157); */
  border-bottom: #243b5e solid 0.4px;
  /* -webkit-box-shadow: 0px 5px 30px 0px rgba(0,118,168,1);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,118,168,1);
  box-shadow: 0px 5px 30px 0px rgba(0,118,168,1); */
  /* background-color: red; */
}
.card-body {
  margin: 0;
  padding: 0;
}

#projects {
  padding: 80px 0;
  position: inherit;
  height: 100vh;
  width: 100%;
  background: black;
  /* background: #1d1e26; */
  text-align: center;
}
/* .project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
} */
/* .project p {
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
} */
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, rgba(2,112,215,1) -5.91%, rgba(0,191,251,1) 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}


/* .card {
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#333, #333);
  transition: all .5s;
}

.card:hover {
  background-image: linear-gradient(90.21deg, rgba(2,112,215,1) -5.91%, rgba(0,191,251,1) 111.58%);
}

.card .img {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('./assets/Evelynn.jpg');
  background-size: cover;
  background-position: center;
  transition: all .5s;
  z-index: 2;
  position: relative;
  opacity: .8;
}

.card .img span {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  transition: all .5s;
}

.card:hover .img {
  width: 430px;
  opacity: 1;
}

.card:hover .img span {
  font-size: 28px;
}

.card .content {
  padding: 0px 20px;
  height: 0;
  opacity: 0;
  transition: all .5s;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(30px);
}

.card:hover .content {
  height: 260px;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 20px;
  font-weight: 600;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: .8;
  margin-top: 8px;
}

.card .arrow {
  padding: 15px;
  transform: rotate(-180deg);
  transition: all .5s;
}

.card:hover .arrow {
  transform: rotate(0);
}

.card .arrow span {
  font-size: 24px;
} */

.contact {
  position: inherit;
  height: 100vh;
  width: 100%;
  background: #151515;
}
/* .get-in-touch{ 
  height: 100%;
} */
.contact-form {
  position: relative;
  /* width: 100%;
 */
  /* height: 100%; */
  height: 420px;
  width: 100%;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}
.contact-form::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #00BFFB, #00BFFB);
  transform-origin: bottom right;
  animation: animate-bx-form 6s linear infinite;
}
.contact-form::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, transparent, #00BFFB, #00BFFB);
  transform-origin: bottom right;
  animation: animate-bx-form 6s linear infinite;
  animation-delay: -3s;
}
@keyframes animate-bx-form {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background-color: #28292d;
  z-index: 10;

  padding: 50px 40px;
  /* display: flex;
  flex-direction: column; */
}
.form h2 {
  color: #00BFFB;
  /* font-weight: 500; */
  text-align: center;
  letter-spacing: 0.1em;
}
.input-bx {
  position: relative;
  /* width: 100%; */
  margin-top: 35px;
}
.input-bx input {
  position: relative;
  width: 100%;
  padding: 25px 0px 0px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05;
  z-index: 10;
}
.input-bx span {
  position: absolute;
  left: 0;
  padding: 25px 0px 0px;
  /* font-size: 1em; */
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.input-bx input:valid ~ span,
.input-bx input:focus ~ span
{
  color: #00BFFB;
  transform: translateY(-25px);
  font-size: 0.75em;
}
.input-bx i{
  position: absolute;
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 99%;
  height: 2px;
  background: #00BFFB;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.input-bx input:valid ~ i,
/* .input-bx input[type="email"]:invalid ~ i, */
.input-bx input:focus ~ i
{
  height: 44px;
}
input[type="submit"]
{
  border: none;
  outline: none;
  background: #00BFFB;
  padding: 11px 25px;
  width: 100px;
  height: 50px;
  margin-top: 10px;
  border-radius: 4px;
  /* font-weight: 600; */
  cursor: pointer;
}